:root {
  --p-color: #757575;
  --title-color: #212121;
  --special-color: #2196f3;
  --footer-color: #2f303a;
  --team-color: #f5f4fa;
}

* {
  font-family: "Roboto", sans-serif;
}

.logo span {
  color: var(--special-color);
}

.nav-link {
  color: var(--title-color);
  font-size: 14px;
  letter-spacing: 2%;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--special-color);
}

ul {
  list-style: none;
}

.get-services-title {
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
}

.button {
  color: white;
  font-size: 16px;
  background-color: var(--special-color);
  border-color: var(--special-color);
}

.get-services {
  text-align: center;
  background-color: var(--footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

p {
  color: var(--p-color);
}

.service-title {
  font-size: 14px;
  letter-spacing: 3%;
}

.section-title {
  font-size: 36px;
  text-align: center;
}

.team-member-name {
  font-size: 16px;
  color: var(--title-color);
}

.team {
  background-color: var(--team-color);
}
