:root {
  --p-color: #757575;
  --title-color: #212121;
  --special-color: #2196f3;
  --footer-color: #2f303a;
  --team-color: #f5f4fa;
  --black-color: #212121;
  --grey-color: #afb1b8;
  --bg-anim: #2196f3e5;
}

* {
  font-family: "Roboto", sans-serif;
}

.logo span {
  color: var(--special-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.logo-link {
  color: black;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-list {
  padding-bottom: 25px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: var(--title-color);
  font-size: 14px;
  letter-spacing: 2%;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  color: var(--special-color);
}

.nav-list .nav-item:nth-child(2) .nav-link::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--special-color);
  position: absolute;
  display: block;
  top: 47px;
}

.get-services-title {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  margin-bottom: 30px;
}

.services-list {
  margin-top: 94px;
  display: flex;
  gap: 30px;
}

.servces-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.servces-item:first-child::before {
  background-image: url("images/space_thing_icon.svg");
}

.servces-item:nth-child(2):before {
  background-image: url("images/clock_icon.svg");
}

.servces-item:nth-child(3):before {
  background-image: url("images/clock_icon.svg");
}

.servces-item:nth-child(4):before {
  background-image: url("images/astronaut_icon.svg");
}

.button {
  display: inline-block;
  margin: 0 auto;
  color: white;
  padding: 10px 32px;
  border-radius: 7px;
  font-size: 16px;
  background-color: var(--special-color);
  border-color: var(--special-color);
}

.get-services {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to top, #2f303a66),
    url(images/Img\ Overlay.png);
}

p {
  color: var(--p-color);
}

.service-title {
  font-size: 14px;
  letter-spacing: 3%;
}

.section-title {
  font-size: 36px;
  text-align: center;
  padding-bottom: 50px;
}

.team-member-name {
  font-size: 16px;
  color: var(--title-color);
}

.team {
  background-color: var(--team-color);
  display: flex;
  flex-wrap: wrap;
  column-gap: 69px;
  row-gap: 100px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-us-image {
  width: 370px;
}

.about-us {
  margin-top: 94px;
  margin-bottom: 94px;
}

.section-images {
  display: flex;
  justify-content: space-between;
}

.team {
  display: flex;
  justify-content: center;
}

.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team-item {
  text-align: center;

  background-color: rgb(255, 255, 255);
  padding-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 2px 1px 0px #00000033;

  box-shadow: 0px 1px 1px 0px #00000024;

  box-shadow: 0px 1px 3px 0px #0000001f;
}

.team-item {
  padding-bottom: 30px;
}

.footer {
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link {
  color: var(--p-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  margin-top: 28px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 3%;
  color: #f5f4fa;
  margin-bottom: 20px;
}

.footer-logo > span {
  color: var(--special-color);
}

.contact-header-link {
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header-list {
  display: flex;
  gap: 50px;
}

.contact-header-link:hover {
  color: var(--special-color);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.p-link {
  color: var(--black-color);
  background-color: #f5f4fa;
  padding: 6px 25px;
  border-radius: 4px;
  font-weight: 500;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
}

.p-link:hover {
  color: var(--team-color);
  background-color: var(--special-color);
  padding: 6px 25px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px #0000001f;
  font-weight: 500;
  font-size: 16px;
}

.portfolio {
  margin-top: 94px;
}

.p-s-title {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 15px;
  margin-left: 20px;
}

.p-s-service {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.p-s-item {
  border: 1px solid #eeeeee;
  width: 370px;
  overflow: hidden;
  position: relative;
}

.p-servieces {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}

.p-s-item:hover {
  border: 1px solid #eeeeee;
  width: 370px;
  box-shadow: 1px 4px 6px 0px #00000029;

  box-shadow: 0px 4px 4px 0px #0000000f;

  box-shadow: 0px 1px 1px 0px #0000001f;
}

.clients {
  margin-top: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.clients-svg {
  width: 180px;
  height: 100px;
  fill: var(--grey-color);
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  padding: 16px 32px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 110px;
}

.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
  fill: var(--special-color);
  border-color: var(--special-color);
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: var(--grey-color);
}

.team-socials {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  gap: 22px;
  align-items: center;
}

.team-member-name {
  margin-top: 16px;
}

.team-link {
  padding: 12px;
  line-height: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover .team-svg,
.team-link:focus .team-svg {
  fill: white;
}

.team-link {
  display: inline-block;
  padding: 12px;
  background-color: transparent;
  border-radius: 100px;
}

.team-link:hover {
  background-color: var(--special-color);
}

.footer-wrapper {
  display: flex;
}

.footer-s-title {
  font-weight: 700;
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

.footer-s-list {
  display: flex;
  gap: 10px;
}

.footer-socials {
  margin-left: 70px;
}

.footer-s-l-svg {
  fill: white;
  width: 20px;
  height: 20px;
}

.footer-s-l-link {
  display: inline-block;
  padding: 12px;
  background-color: #ffffff1a;
  border-radius: 100%;
  line-height: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-s-l-link:hover {
  background-color: var(--special-color);
}

.footer-form {
  margin-left: 93px;
}

.footer-title {
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-input {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  color: #ffffff99;
}

.footer-button {
  background-color: var(--special-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  margin-left: 12px;
}

.footer-form-svg {
  fill: white;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: absolute;
  left: 1275px;
}

.about-us-title {
  width: 370px;
  height: 70px;
  background-color: #2f303acc;
  position: absolute;
  top: 1350px;
}
.about-us-text {
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin: 27px 107px;
}

.p-s-hover-text {
  font-family: 400;
  font-size: 18px;
  width: 322px;
  color: #ffffff;
  background-color: var(--bg-anim);

  width: 370px;
  height: 294px;
  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.3s linear;
}

.p-s-item:hover .p-s-hover-text,
.p-s-item:focus .p-s-hover-text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.419);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 620px;
  background-color: white;
  box-shadow: 0px 2px 1px 0px #00000033;

  box-shadow: 0px 1px 1px 0px #00000024;

  box-shadow: 0px 1px 3px 0px #0000001f;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal-title {
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border-width: 1px;
  margin-left: 40px;
  margin-top: 10px;
  font-size: 16px;
  color: var(--p-color);
  padding-left: 35px;
  border-color: var(--grey-color);
  margin-bottom: 10px;
}

.modal-f-label {
  margin-left: 40px;
  margin-top: 10px;
  position: relative;
  margin-bottom: 4px;
  color: var(--p-color);
}

.modal-comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border-width: 1px;
  padding-bottom: 100px;
  margin-left: 40px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.modal-svg {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 12px;
  top: 37px;
  z-index: 1;
}

.modal-agree {
  display: inline;
}

.agreement {
  margin-left: 40px;
  margin-left: 75px;
  margin-top: 20px;
}

.modal-agree {
  font-weight: 400;
  font-size: 14px;
}

.modal-agree span {
  color: var(--special-color);
}

.modal-button {
  font-weight: 400;
  font-size: 16px;
  background-color: var(--special-color);
  padding: 10px 53px;
  color: white;
  border-color: transparent;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  margin-left: 164px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.modal-close:hover .modal-close-svg,
.modal-close:focus .modal-close-svg {
  fill: var(--special-color);
  cursor: pointer;
}

.modal-close:hover {
  border-color: var(--special-color);
}

.modal-input:hover .modal-svg,
.modal-input:focus .modal-svg {
  fill: var(--special-color);
  cursor: pointer;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--special-color);
  cursor: pointer;
}

.modal-comment:hover {
  border-color: var(--special-color);
  cursor: pointer;
}

.modal-close {
  background-color: transparent;
  border: 1px solid var(--grey-color);
  padding: 11px;
  border-radius: 100%;
  line-height: 0;
  position: absolute;
  left: 90%;
  top: 10px;
  cursor: pointer;
}

.modal-close-svg {
  max-width: 11px;
  max-height: 11px;
}

.is-hidden {
  pointer-events: 0;
  visibility: hidden;
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

.portf-nav-list {
  padding-bottom: 25px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.portf-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portf-nav-item {
  position: relative;
}

.portf-nav-list .portf-nav-item:nth-child(3) .nav-link::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--special-color);
  position: absolute;
  display: block;
  top: 47px;
}
